<!-- <%- include -%> are used to include tha repetitive heaeder or footer files or any other files -->

<%- include("header") -%>

    <!-- <%   %> These are the script tags. They are used to add javascript or any other thing in html which is not html -->
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% for(var i=0;i<newListItems.length;i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
            <% } %>

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item">
                    <button type="submit" name="list" value=<%=listTitle %>>+</button>
                </form>
    </div>

    <%- include("footer") -%>